/* var font arabic */
$cairofont-ar: "Cairo";
$stackfont-ar: "Stack";
$almaraifont-ar: "Almarai";
$amirifont-ar: "Amiri";
$changafont-ar: "Changa";
$mirzafont-ar: "Mirza";
$tajawalfont-ar: "Tajawal";
$rakkasfont-ar: "Rakkas";
$lemonadafont-ar: "Lemonada";
$harmattanfont-ar: "Harmattan";
$lateeffont-ar: "Lateef";
$scheherazadefont-ar: "Scheherazade";
$romanescofont-ar: "Romanesco";
$kufamfont-ar: "Kufam";
$lalezarfont-ar: "Lalezar";
$katibehfont-ar: "Katibeh";
$messirifont-ar: "El Messiri";
$reemfont-ar: "Reem Kufi";
$openfont-ar: "Open Sans";
$areffont-ar: "Aref Ruqaa";
$markazifont-ar: "Markazi Text";
/* var font english */
$romanescofont-en: "Romanesco";
$alegreyafont-en: "Alegreya";
$archivofont-en: "Archivo";
$b612font-en: "B612";
$bioRhymefont-en: "BioRhyme";
$karlafont-en: "Karla";
$lorafont-en: "Lora";
$montserratfont-en: "Montserrat";
$mulishfont-en: "Mulish";
$robotofont-en: "Roboto";
$spectralfont-en: "Spectral";
$vollkornfont-en: "Vollkorn";
$varelafont-en: "Varela";
$titilliumfont-en: "Titillium Web";
$rubikfont-en: "Rubik 16  Source Sans Pro";
$playfairfont-en: "Playfair Display";
$iBMfont-en: "IBM Plex Serif";
$frankfont-en: "Frank Ruhl Libre";
$fjallafont-en: "Fjalla One";
$crimsonfont-en: "Crimson Text";
